#phone {
    width: 1100px;
    background-color: #eee;
    margin: 20px auto;
}
#phone thead {
    border: 1px solid black;
    border-left: 0; border-right: 0;
}
#phone thead tr {}
#phone thead tr:nth-child(1) {
    border-bottom: 1px dashed #aaa;
}
#phone thead tr th {}
#phone thead tr th,
#phone thead tr td {
    padding: 10px 0;
    text-align: center;
}
#phone thead tr th img {
    width: 50px;
}
#phone thead tr th em {
    display: block;
    font-size: 0.75em;
    color: #aaa;
}
#phone tbody tr {
        border-bottom: 1px solid #a1a1a1;
}
#phone tr td {
    padding: 15px 0;
    text-align: center; 
}